<div class="container">
  <!-- Header con logo -->
  <div class="header">
    <a routerLink="/">
      <img src="/application/assets/images/logo.png" alt="Lanari Logo" class="logo" />
    </a>
  </div>
  
    <h2>TAVOLO DI {{ table.name }}</h2>
  
    <div class="table-info">
      <div class="circle">{{ tableIndex + 1 }}</div>
    </div>
  
    <!-- Aggiungi bottiglia di vino -->
    <div class="section">
      <h3>AGGIUNGI BOTTIGLIA DI VINO</h3>
      <div *ngFor="let wine of wines; let i = index" class="wine-row">
        <span class="wine-name">{{ wine.name }}</span>
        <div class="counter">
          <button (click)="decreaseWineQuantity(i)" [disabled]="isClosed">-</button>
          <span>{{ wine.quantity }}</span>
          <button (click)="increaseWineQuantity(i)" [disabled]="isClosed">+</button>
        </div>
      </div>
    </div>
    
    
  
    <!-- Aggiungi calice di vino -->
    <div class="section">
      <h3>AGGIUNGI CALICE DI VINO</h3>
      <div class="counter">
        <button (click)="decreaseGlasses()" [disabled]="isClosed">-</button>
        <span>{{ glasses }}</span>
        <button (click)="increaseGlasses()" [disabled]="isClosed">+</button>
      </div>
    </div>
  
    <!-- Modifica numero partecipanti -->
    <div class="section">
      <h3>MODIFICA NUMERO PARTECIPANTI</h3>
      <input type="number" [(ngModel)]="table.people" class="input" [disabled]="isClosed" />
    </div>
  
    <!-- Persone post-cena -->
    <div class="section">
      <h3>PERSONE POST-CENA</h3>
      <div class="counter">
        <button (click)="decreaseAfterDinner()" [disabled]="isClosed">-</button>
        <span>{{ afterDinner }}</span>
        <button (click)="increaseAfterDinner()" [disabled]="isClosed">+</button>
      </div>
    </div>
  
    <!-- Mostra il totale -->
    <div class="section">
      <h3>TOTALE CONTO</h3>
      <p>{{ totalAmount.toFixed(2) }} €</p>
    </div>
  
    <button (click)="saveChanges()" class="save-button" [disabled]="isClosed">SALVA</button>
  </div>
  