<div class="container">
  <!-- Header con logo -->
  <div class="header">
    <a routerLink="/">
      <img src="/assets/images/logo.png" alt="Lanari Logo" class="logo" />
    </a>
  </div>
  

  <!-- Se non ci sono tavoli -->
  <div *ngIf="tables.length === 0" class="empty-state">
    <h2>Nessun Tavolo Presente</h2>
    <button class="add-button" routerLink="/add-table">
      <span>+</span> Aggiungi Tavolo
    </button>
  </div>

  <!-- Se ci sono tavoli -->
  <div *ngIf="tables.length > 0" class="tables-list">
    <h2>TAVOLI PRESENTI</h2>
    <div class="table" *ngFor="let table of tables; let i = index">
      <div class="table-info">
        <div class="circle" [ngClass]="{ 'closed': table.isClosed }" routerLink="/table/{{ i }}">
          {{ i + 1 }}
        </div>
        <div class="details" routerLink="/table/{{ i }}">
          <p><strong>{{ table.name }}</strong></p>
          <p>{{ table.people }} persone</p>
          <p>{{ table.totalAmount ? table.totalAmount.toFixed(2) : 0 }} euro</p>
        </div>
      </div>
      <button class="delete-button" (click)="toggleTableState(i)">&#10006;</button>
    </div>

    <!-- Pulsanti sotto la lista dei tavoli -->
    <button class="add-button" routerLink="/add-table">
      <span>+</span> Aggiungi Tavolo
    </button>
    <button class="remove-all-button" (click)="removeAllTables()">
      Rimuovi Tutti i Tavoli
    </button>
  </div>
</div>
